CREATE TABLE `weatherapp` (
	`id` INT(100) NOT NULL AUTO_INCREMENT,
	`date` VARCHAR(256) NOT NULL,
	`city` VARCHAR(256) NOT NULL,
	`latitude` VARCHAR(256) NOT NULL,
	`longitude` VARCHAR(256) NOT NULL,
	`temp` VARCHAR(256) NOT NULL,
	`pressure` VARCHAR(256) NOT NULL,
	`humidity` VARCHAR(256) NOT NULL,
	`windpower` VARCHAR(256) NOT NULL,
	`winddirect` VARCHAR(256) NOT NULL,
	`cloud` VARCHAR(256) NOT NULL,
	PRIMARY KEY (`id`)
);

INSERT INTO `weatherapp` (`id`, `date`, `city`, `latitude`, `longitude`, `temp`, `pressure`, `humidity`, `windpower`, `winddirect`, `cloud`) VALUES ('1', '2022-11-23 14:40:41', 'Szeged', '47.498', '19.0399', '5.43', '1001', '94', '2.06', '30', 'http://openweathermap.org/img/wn/04d@2x.png');
INSERT INTO `weatherapp` (`id`, `date`, `city`, `latitude`, `longitude`, `temp`, `pressure`, `humidity`, `windpower`, `winddirect`, `cloud`) VALUES ('2', '2022-11-23 14:40:41', 'Sopron', '47.498', '19.0399', '5.43', '1001', '94', '2.06', '30', 'http://openweathermap.org/img/wn/04d@2x.png');
INSERT INTO `weatherapp` (`id`, `date`, `city`, `latitude`, `longitude`, `temp`, `pressure`, `humidity`, `windpower`, `winddirect`, `cloud`) VALUES ('3', '2022-11-23 14:40:41', 'Pécs', '47.498', '19.0399', '5.43', '1001', '94', '2.06', '30', 'http://openweathermap.org/img/wn/04d@2x.png');
INSERT INTO `weatherapp` (`id`, `date`, `city`, `latitude`, `longitude`, `temp`, `pressure`, `humidity`, `windpower`, `winddirect`, `cloud`) VALUES ('4', '2022-11-23 14:40:41', 'Miskolc', '47.498', '19.0399', '5.43', '1001', '94', '2.06', '30', 'http://openweathermap.org/img/wn/04d@2x.png');
INSERT INTO `weatherapp` (`id`, `date`, `city`, `latitude`, `longitude`, `temp`, `pressure`, `humidity`, `windpower`, `winddirect`, `cloud`) VALUES ('5', '2022-11-23 14:40:41', 'Győr', '47.498', '19.0399', '5.43', '1001', '94', '2.06', '30', 'http://openweathermap.org/img/wn/04d@2x.png');
INSERT INTO `weatherapp` (`id`, `date`, `city`, `latitude`, `longitude`, `temp`, `pressure`, `humidity`, `windpower`, `winddirect`, `cloud`) VALUES ('6', '2022-11-23 14:40:41', 'Gyékényes', '47.498', '19.0399', '5.43', '1001', '94', '2.06', '30', 'http://openweathermap.org/img/wn/04d@2x.png');
INSERT INTO `weatherapp` (`id`, `date`, `city`, `latitude`, `longitude`, `temp`, `pressure`, `humidity`, `windpower`, `winddirect`, `cloud`) VALUES ('7', '2022-11-23 14:40:41', 'Debrecen', '47.498', '19.0399', '5.43', '1001', '94', '2.06', '30', 'http://openweathermap.org/img/wn/04d@2x.png');
INSERT INTO `weatherapp` (`id`, `date`, `city`, `latitude`, `longitude`, `temp`, `pressure`, `humidity`, `windpower`, `winddirect`, `cloud`) VALUES ('8', '2022-11-23 14:40:41', 'Budapest', '47.498', '19.0399', '5.43', '1001', '94', '2.06', '30', 'http://openweathermap.org/img/wn/04d@2x.png');